extends ./layout.pug

block content
	header.title
		h1 Timestamp Microservice
		.instructions
			h4 Instructions:
			ol
				li Add a Unix timestamp or natural date format to end of the URL address. ("/1450138633" or "/January 1, 2017")
				li If format is correct, both time formats will appear in object form.
				li If format is incorrect, time properties will appear as null.
		.examples
			h3 Examples
			p.ex Natural:
			a(href="https://frozen-eyrie-82451.herokuapp.com/june%2015%201989")https://frozen-eyrie-82451.herokuapp.com/june%2015%201989
			p.ex Unix timestamp:
			a(href="https://frozen-eyrie-82451.herokuapp.com/1464580800") https://frozen-eyrie-82451.herokuapp.com/1464580800