extends ./layout.pug

block content
	header.title
		h1 Timestamp Microservice
		h4 Instructions:
		ol
			li Pass string in Unix timestamp or natural data format to end of URL address. (1450138633 or January 1, 2017)
			li If format is correct, both time formats appear.
			li If format is incorrect, time properties will appear as null.